.items {
  margin: 0 auto;
  padding: 1em;
}

.loading,
.error {
  height: var(--content-height);
  display: grid;
  align-content: center;
  justify-items: center;
  grid-gap: 1em;
}

@media (min-width: 992px) {
  .items {
    max-width: 1200px;
  }
}
